.btn {
  cursor: pointer;
  border-radius: 5px;
  appearance: none;
  display: block;
  color: inherit;
  border: 2px solid var(--brown-color);
  background-color: var(--light-gray-color);
  padding: 5px 15px;
  font-family: inherit;
  font-size: 20px;
  transition: background-color 0.1s ease-in-out;
}

.btn:hover {
  background-color: var(--brown-color);
}
