.inp {
  display: block;
  border-radius: 5px;
  color: inherit;
  border: 2px solid var(--brown-color);
  background-color: var(--light-gray-color);
  font-family: inherit;
  font-size: 25px;
}

.inp:focus {
  outline: 2px solid var(--light-gray-color);
}
